@model IEnumerable<Formule1Library.Driver>
@{
    ViewData["Title"] = "Coureurs";
}

<h1>Coureurs</h1>

<table class="table">
    <thead>
        <form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Zoek per naam: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Zoek" class="btn btn-default" style="white-space: normal; background-color:lightsalmon;" /> 
            <a asp-action="Index">Terug naar lijst</a>
        </p>
    </div>
</form>
<form method="post">
    @foreach (var driver in Model)
    {
        <div class="card w-50 m-2" style="background-color: #e1e1e1">
            <div class="card-body">
                <h5 class="card-title"><a class="link-dark" asp-action="Details" asp-route-id="@driver.ID">@driver.Fullname</a></h5>
                <img width="5%" src="@driver.Country.FlagUrl"/>
            </div>
        </div>
    }
</form>
