@model IEnumerable<Formule1Library.Result>

<h2>Seizoenen</h2>
<br/>
@foreach (var season in Model.GroupBy(s => s.Season, (key, items) => new {Year = key, RaceCount = items.Count()}).OrderByDescending(s => s.Year))
{
    <div class="card w-25 m-3" style="background-color: #e1e1e1">
        <div class="card-body">
            <h5 class="card-title">
                <a class="link-dark" asp-controller="Result" asp-action="Details" asp-route-id="@season.Year">Seizoen @season.Year</a>
            </h5>
            <p class="card-text">Aantal gereden races: @season.RaceCount</p>
        </div>
    </div>
}