@model Formule1Library.Circuit

<div class="card w-100 m-2" style="background-color: #e1e1e1">
    <div class="card-body">
        <h3 class="card-title">@Model.Name</h3>
        <img align="right" src=""/>
        <p>Land: @Model.Country.Name</p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </div>
</div>